---
import StoreLayout from '../../layouts/StoreLayout.astro'
import { products } from "../../json/products.json"
import RatingStars from "../../components/RatingStars.jsx"

export const prerender = false

const { id } = Astro.params
const productId = Number(id?.split(":")[1])

const product = products.filter(product => product.id === productId)
---

<StoreLayout title={`Bazar Universal - ${id}`}>
    <article>
        {
            product.map(({ title, description, price, rating, images, brand, stock }: { title: string, description: string, price: number, rating: number, images: string[], brand: string, stock: number }) => (
                <section class="flex gap-10 items-center justify-center">
                    <img 
                        class="rounded-full w-64 h-64"
                        src={images[0]} 
                        alt={title} 
                        loading="lazy" 
                        decoding="async"
                    />

                    <div class="flex flex-col gap-2">
                        {
                            images.map(image => (
                                <img 
                                    class="rounded-full w-14 h-14"
                                    src={image} 
                                    alt={title} 
                                    loading="lazy" 
                                    decoding="async"
                                />
                            ))
                        }
                    </div>  
                </section>
                
                <section class="flex flex-col justify-center items-center mt-10 gap-5">
                    <h3 class="text-3xl font-bold">{title} - {brand}</h3>

                    <div class="flex gap-10">
                        <div class="flex flex-col items-center">
                            <span class="font-bold text-2xl">{price}$</span>
                            <span class="font-bold">{stock} disponibles</span>
                        </div>
                        <RatingStars rating={rating} />
                    </div>

                    <p class="text-pretty mt-4">{description}</p>

                    <button class="mt-10 bg-blue-500 hover:bg-blue-700 text-white text-5xl font-bold py-2 px-4 border-b-4 border-blue-700 rounded-2xl transform transition duration-200 ease-in-out hover:-translate-y-1 hover:scale-110 w-auto">
                        Comprar
                    </button>
                </section>
            ))
        }
        
    </article>
</StoreLayout>